# Python cache
__pycache__/
*.pyc

# Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Large raw datasets
data/raw/
data/full/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
